Device/HappyBrackets/data/audio/Nylon_Guitar/Clean_A_harm.wav
Device/HappyBrackets/data/audio/Nylon_Guitar/Clean_B_harm.wav
Device/HappyBrackets/data/audio/Nylon_Guitar/Clean_D_harm.wav
Device/HappyBrackets/data/audio/Nylon_Guitar/Clean_E_harm.wav
Device/HappyBrackets/data/audio/Nylon_Guitar/Clean_G_harm.wav
Device/HappyBrackets/data/audio/Roje/i-write.wav
HappyBrackets Project/data/audio/Nylon_Guitar/Clean_A_harm.wav
HappyBrackets Project/data/audio/Nylon_Guitar/Clean_B_harm.wav
HappyBrackets Project/data/audio/Nylon_Guitar/Clean_D_harm.wav
HappyBrackets Project/data/audio/Nylon_Guitar/Clean_E_harm.wav
HappyBrackets Project/data/audio/Nylon_Guitar/Clean_G_harm.wav
HappyBrackets Project/data/audio/Roje/i-write.wav
